.checkout-container {
  width: 80%;
  padding-top: 16px;
  padding-left: 16px;
  margin: 0 !important;
}

.checkout-title {
  color: rgba(63, 81, 181, 0.54);
}

.checkout-done-icon {
  font-size: 2em;
  margin-bottom: 0.2em;
  color: rgba(63, 81, 181, 0.54);
}

.checkout-image-container {
  display: flex;
  justify-content: center;
}

.checkout-image {
  margin: 0 !important;
  width: auto;
  height: 20vw;
  object-fit: cover;
}
