<mat-card class="listing-catalog-item-card">
    <div class="listing-catalog-item-image-container">
        <img src="assets/images/listing-image.jpg" alt="Foto" class="listing-catalog-item-image" />
    </div>
    <mat-card-content>
        <mat-card-subtitle>kategoria</mat-card-subtitle>
        <mat-card-title class="listing-catalog-item-title">nazov inzeratu</mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutAlign="start end">
                <mat-icon color="accent">euro</mat-icon>
                <h2 class="listing-catalog-item-price">2.99</h2>
            </div>
            <button mat-icon-button><mat-icon>rate_review</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>
