.order-management-container {
  width: 80%;
  padding-top: 16px;
  padding-left: 16px;
  margin: 0 !important;
}

.order-list-item {
  height: fit-content !important;
}

.order-list-item-row {
  height: fit-content !important;
}

.order-item {
  padding: 10px 0;
}

.order-expansion-panel {
  margin: 10px 0;
}
